* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Tahoma', sans-serif;
  font-size: 15px;
  line-height: 1;
  text-align: justify;
  color: #565656;
  letter-spacing: normal;
  word-spacing: normal;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
}

.wh {
  /* letter-spacing: 1px; */
}

.title {
  font-family: 'Tahoma-bold';
  font-size: 16px;
  text-align: left;

  font-weight: bold;
}

textarea {
  border-radius: 5px;
  width: 495px;
  height: 108px;
}

.page {
  width: 27cm;

  padding-top: 10px;
  border: 1px solid white;
}

input {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  height: 35px;
  outline: none;
}

.logo {
  max-width: 400px;
}

.header__input {

  border: 2px solid #b3b2b2;
  color: #b3b2b2;
  border-radius: 5px;
  padding: 8px;
  display: inline;
}

.page__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input__header {
  border: none;
  display: inline;
  height: 25px;

}

.centre {
  text-align: center;
  margin: 10px 0;
}

.section {
  border: 2px solid #269b40;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.green {
  color: #269b40;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 10px;

}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}

.article--left,
.article--right {
  width: 49%;
}

.section--right,
.section--left {
  width: 50%;
}

.section--left>div {
  margin-bottom: 10px;
}

.section--right>div {
  margin-bottom: 7px;
}


.wrap_id1,
.wrap_id2,
.wrap_id3 {
  width: 32%;
}

.id1 {
  max-width: 90%;
}

.section__input {
  width: 93%;
}

.section__input--left {
  width: 255px;
}

.space-between {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.section__input--right {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;

}

.header__form {
  text-align: end;
}

.square {
  width: 470px;
  height: 470px;
  border: 1px solid;
  border-radius: 5px;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}