/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

html,
body {
  font-family: 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 1;
  color: #565656;
  font-weight: 300;
  text-align: justify;
}



.header-page1 {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-input {
  height: 30px;
  border: 2px solid #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.header-input__text {

  font-weight: 400;
  color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;

}

.header__input {
  width: auto;
  border: 0;
  outline-style: none;
}

.logo {
  width: 250px;

}

input {
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  height: 25px;
  outline: 0;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #269b40;

}


.title__text {
  text-transform: uppercase;

  text-transform: uppercase;
  font-family: 'Tahoma-bold', sans-serif;
  margin-bottom: 5px;
}

.centre {
  text-align: center;
  margin: 5px 0;
}

.section {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #269b40;
  border-radius: 5px;
}

.text {

  margin-top: 5px;

}

.green {
  color: #269b40;
}

.section-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.section-id__man {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}

.input-last_name {
  width: 100%;

}

.wrap {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrap-id {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-respons {
  width: 100%;
}

.section-id__adress {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.wrap-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input__getdate,
.input__code,
.input__inn,
.input__phone,
.label,
.model,
.sum,
.bonus {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.input-adress {
  height: 65px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.note__first,
.note__second {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

input {
  width: 100%;

}

.title__number {
  text-transform: uppercase;

  text-transform: uppercase;
  font-family: 'Tahoma-bold', sans-serif;
}

.ib {
  display: inline-block;
}


.header-input2 {
  text-align: end;
  margin-bottom: 10px;
}

.header-input__text2 {

  font-weight: 600;

  text-transform: uppercase;
  padding: 0 10px;
}

.header__input2 {
  width: auto;


}

.left {
  text-align: end;
  margin-bottom: 10px;
}

.square {
  width: 400px;
  height: 400px;
  border: 2px solid;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
  margin-bottom: 40px;
  position: relative;
}



.wrap-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-page4 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

textarea {
  width: 100%;
  border-radius: 5px;
}

@media print {

  /*для печати*/
  .square:nth-child(1)::after {
    position: absolute;
    content: "Фото застрахованного объекта (общий вид 1)";

    margin-top: 115%;

  }

  .square:nth-child(2)::after {
    position: absolute;
    content: "Фото застрахованного объекта (общий вид 2)";

    margin-top: 115%;

  }

  .square:nth-child(3)::after {
    position: absolute;
    content: "Фото застрахованного объекта (идентификационный номер)";

    margin-top: 115%;
  }
}